.card{
    background: white;
    box-shadow: 0 2px 8px black;
    border-radius: 0.5ch;
    text-align: center;
    margin: 3rem auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    max-width: 40%;
    padding: 1rem;
    
}